.buttonApuestaStart {
    position: relative;
    border-radius: 50%;
    background-color: #900000b3;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    /*Juli@Alarc@n*/
    text-transform: uppercase;
    border: 3px;
    border-color: #760000;
    transition: all 0.3s ease-in-out;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.buttonApuestaStart:hover {
    cursor: pointer;
    background-color: #00058f84;
}

.buttonApuestaNumero {
    position: relative;
    background-color: #00000000;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    /*Juli@Alarc@n*/
    text-transform: uppercase;
    border: 3px;
    border-color: #ffffff;
    transition: all 0.3s ease-in-out;
    width: 51px;
    height: 78px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.buttonApuestaNumero:hover {
    cursor: pointer;
    background-color: #00058f84;
}

.buttonApuestaNumeroZero {
    position: relative;
    background-color: #00a60671;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    /*Juli@Alarc@n*/
    text-transform: uppercase;
    border: 3px;
    border-color: #ffffff;
    transition: all 0.3s ease-in-out;
    width: 70px;
    height: 242px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
}


.buttonApuestaNumeroZero:hover {
    cursor: pointer;
    background-color: #0005a09a;
}

.buttonDoces {
    position: relative;
    background-color: #00000000;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    /*Juli@Alarc@n*/
    text-transform: uppercase;
    border: 3px;
    border-color: #ffffff;
    transition: all 0.3s ease-in-out;
    width: 213px;
    height: 61px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.buttonDoces:hover {
    cursor: pointer;
    background-color: #00058f84;
}

.buttonColorParMitad {
    position: relative;
    background-color: #00000000;
    color: #ffffff;
    font-size: 19px;
    font-weight: bold;
    /*Juli@Alarc@n*/
    text-transform: uppercase;
    border: 3px;
    border-color: #ffffff;
    transition: all 0.3s ease-in-out;
    width: 106px;
    height: 64px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.buttonColorParMitad:hover {
    cursor: pointer;
    background-color: #00058f84;
}

.buttonMenu {
    position: relative;
    background-color: #0000005b;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    z-index: 2;
    border-radius: 100%;
    width: 90px;
    height: 90px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonMenu:hover {
    cursor: pointer;
    background-color: #fd00006b;
}